#Dependências
node_modules/

#Variáveis de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Sistema/Editor
.DS_Store
.vscode/

#Extensoes de imagem
*.jpg
*.png
